# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
pinball/pinball/obj/Debug/pinball.csprojResolveAssemblyReference.cache
pinball/pinball/obj/Debug/pinball.csproj.GenerateResource.Cache
pinball/pinball/obj/Debug/pinball.csproj.FileListAbsolute.txt
pinball/pinball/obj/Debug/pinball.Properties.Resources.resources
pinball/pinball/obj/Debug/pinball.Hướng_dẫn_sử_dụng.resources
pinball/pinball/obj/Debug/pinball.Form1.resources
pinball/pinball/obj/Debug/pinball.CustomMsgBox.resources
pinball/pinball/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
pinball/pinball/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
pinball/pinball/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
pinball/pinball/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pinball/pinball/obj/Debug/DesignTimeResolveAssemblyReferences.cache
pinball/pinball/obj/Debug/CoreCompileInputs.cache
pinball/pinball/obj/Debug/.vs/pinball/v14/.suo
pinball/pinball/bin/Debug/pinball.vshost.exe.manifest
pinball/pinball/bin/Debug/pinball.vshost.exe.config
pinball/pinball/bin/Debug/pinball.exe.config
pinball/pinball/bin/Debug/GameState.txt
